.cal-grid-background {
    min-height: 100vh;
    background-color: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cal-grid-container {
    border: solid black;
    height: 400px;
    width: 300px;
}

.cal-grid-output {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    height: 15%;
}

.cal-grid-output input {
    outline: none;
    border: none;
    text-align: end;
    font-size: 24px;
}

.cal-grid-output input.expression {
    outline: none;
    border: none;
    text-align: end;
    font-size: 12px;
}

.cal-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Example grid */
    gap: 10px;
}

.cal-grid-expand {
    grid-row: span 2;
}

.cal-grid button {
    background-color: white;
}

button.cal-grid-expand {
    background-color: orange;
}

.cal-grid button.operator {
    background-color: orange;
}

.cal-grid button:hover {
    opacity: 0.6;
}